@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.Game {
    position: fixed;
    z-index: -1;

    top: 0px;
    left: 0px;

    height: 100vh;
    width: 100vw;
}


.hpbar {
    outline: none;
    border: none;
    font-size: 8px;
    font-weight: 300;
    background: black;
    color: #f0f0f0;
    padding: 2px 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }